/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --background-color: #f0f7ff;
  --main-font-family: 'Source Sans Pro', sans-serif;
  --card-background-color: #FFFFFF;
  --dark-font-color: #3A3A3A;
  --blue-font-color: #0075FF;
  --orange-font-color: #F58B11;
}

body {
  background: var(--background-color);
  margin-top: 20px;
  font-family: var(--main-font-family);
}

/* Top Section Style */
.pd-head {
  margin-bottom: 20px;
  margin-top: 35px;
}

.pd-h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.001em;
  display: inline-block;
  color: var(--dark-font-color);
}

.pd-p {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.002em;
  margin-left: 43%;
  margin-top: 8px;
  color: var(--dark-font-color);
  float: right;
}

.pd-card {
  width: 330px;
  height: 450px;
  background: var(--card-background-color);
  box-shadow: 1px 2px 20px rgba(0, 117, 255, 0.1);
  border-radius: 5px;
}

.card-text {
  margin-left: 15px;
  margin-top: 30px;
  line-height: 1px;
}

.card-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: var(--dark-font-color);
  margin-left: 15px;
}

.first {
  font-size: 19px;
  line-height: 26px;
  color: var(--blue-font-color);
}

.second {
  float: right;
  margin-right: 15px;
  font-size: 19px;
  line-height: 26px;
}

.second-top {
  color: var(--blue-font-color);
}

/* .second-last {
  margin-left: 15%;
} */

.orange {
  color: #F58B11;
}

.inner-container {
  padding-top: 10px;
}

.fas {
  height: 100px;
  text-align: center;
}

.progress {
  text-align: center;
  height: 200px;
  display: inline-block;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: var(--card-background-color);
}

.percentage {
  display: block;
  font-weight: 600;
  font-size: 30px;
  line-height: 52px;
  color: #0075FF;
}

.complete {
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #0075FF;
}

.percentage-card {
  height: 120px;
  text-align: center;
  border: none;
  position: relative;
}

.percentage-image {
  height: 130px;
  width: 130px;
  position: absolute;
  margin-left: 20px;
  text-align: center;
}

.chart-section {
  margin-top: 50px;
  /* width: 100%; */
}

/* Chart section starts here */
.chart-container {
  width: 100%;
}

.chart-image {
  top: 50%;
  left: 50%;
  /* position: absolute; */
  text-align: center;
  width: 100%;
}

/* New Arrival Section Starts Here */
.new-arrival-section {
  margin-bottom: 80px;
}

.card-btn {
  padding: 22px 17px;
  width: 99px;
  background-color: var(--blue-font-color);
  color: var(--card-background-color);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-top: 37px;
  margin-left: 22px;
  text-decoration: none;
}

a {
  list-style: none;
  text-decoration: none;
}

.new-arrival-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.arrival-btn {
  color: var(--dark-font-color);
  border: 1px solid var(--dark-font-color);
  border-radius: 5px;
  margin-top: 37px;
  margin-left: 22px;
  text-align: left;
}

.arrival-btn-1 {
  padding: 9px 37px;
  width: 99px;
}

.arrival-btn-2 {
  padding: 9px 22px;
  width: 100px;
  margin-right: 38px;
}

.ancor-container {
  float: right;
  margin-top: 4px;
}